.idea/My Ride.iml
.idea/dictionaries/
.idea/encodings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
My Ride.xcodeproj/project.xcworkspace/xcshareddata/xcschemes/
My Ride.xcodeproj/project.xcworkspace/xcuserdata/
My Ride.xcodeproj/xcuserdata/liatgr.xcuserdatad/xcdebugger/
My Ride.xcodeproj/xcuserdata/liatgr.xcuserdatad/xcschemes/My Ride 2.xcscheme
